header {
  width: 100%;
  height: 80px;
  background-color: rgb(248, 228, 203);
}

header p {
   text-align: center;
   font-size: 30px;
   padding-top: 20px;
   color: gray;
}

.top {
  width: 100%;
  height: 650px;
  background-image: url(portfolio_img/illust10.JPG);
  background-size: 50%;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 36px;
  padding-top: 300px;
  font-family: "メイリオ";
}


main {
  width: 100%;
  height: 1800px;
  background-color: antiquewhite;
}

.illust h2 {
  text-align: center;
  font-size: 34px;
  padding: 10px;
  opacity: 0.5;
  font-family: "メイリオ";
}

.site_h2 {
  text-align: center;
  font-size: 34px;
  padding: 10px;
  opacity: 0.5;
  font-family: "メイリオ";
  margin-top: 5px;
  margin-bottom: 20px;
}

.site {
   display: flex;
   padding: 10px;
}

.site p{
  font-size: 30px;
  padding-right: 5px;
  padding-top: 200px;
  margin-left: 200px;
}

.site img {
   size: 50px;
   width: 800px;
   height: 500px;
   margin-left: 200px;
}

.slider {
  width:94%;
   margin:0 auto;
}

.slider img {
   width:100%;
   height:auto;
}


.slider .slick-slide {
   margin:0 10px;
}



/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
   text-align:center;
 margin:20px 0 0 0;
}

.slick-dots li {
   display:inline-block;
 margin:0 5px;
}

.slick-dots button {
   color: transparent;
   outline: none;
   width:8px;/*ドットボタンのサイズ*/
   height:8px;/*ドットボタンのサイズ*/
   display:block;
   border-radius:50%;
   background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
   background:rgb(50, 49, 49);/*ドットボタンの現在地表示の色*/
}


footer {
  width: 100%;
  height: 50px;
  background-color: rgb(214, 169, 255);
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */



}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

header {
   width: 100%;
   max-height: 60px;
   background-color: rgb(248, 228, 203);
}

header p {
   text-align: center;
   font-size: 20px;
   padding-top: 15px;
   color: gray;
}

.top {
   width: 100%;
   max-height: 400px;
   background-image: url(portfolio_img/illust10.JPG);
   background-size: 50%;
   background-position: center;
   background-size: cover;
   opacity: 0.5;
   display: flex;
   justify-content: center;
}

h1 {
   padding-top: 200px;
   font-size: 20px;
}

main {
   width: 100%;
   height: 1800px;
   background-color: antiquewhite;
}

.illust h2 {
   text-align: center;
   font-size: 20px;
   padding: 10px;
   opacity: 0.5;
   font-family: "メイリオ";
}

.site_h2 {
   text-align: center;
   font-size: 25px;
   padding: 10px;
   opacity: 0.5;
   font-family: "メイリオ";
   margin-top: 5px;
   margin-bottom: 20px;
}

.site {
   display: inline;
}

.site p {
   padding: 0;
   margin: 0;
   font-size: 20px;
   text-align: center
}

.site img {
   max-width: 480px;
   max-height: 300px;
   padding: 5px;
   margin: 0 auto;
}

}