header {
  width: 100%;
  height: 80px;
  background-color: white;
}

.top {
  width: 100%;
  height: 650px;
  background-image: url(portfolio_img/illust10.JPG);
  background-size: 50%;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 36px;
  padding-top: 300px;
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}


main {
  width: 100%;
  height: 1800px;
  background-color: aqua;
}

footer {
  width: 100%;
  height: 50px;
  background-color: blueviolet;
}